
.mm-overview-table {
    font-size: large;
}

.mm-text-code {
    width:130px;
}

.mm-input {
    width:60px;
}

.modal-footer {
    align:left;
}

h8 {
    color:green;
}

.h8 {
    color:darkred;
}

.table-custom {
    font-size: 11px;
}

body{
    background: #D9DBDC;
}

.dropdown-item {
    height: 15px;
}

.modal-custom-pad-top {
    padding-top: 0.5cm;
    padding-top: 3cm;
}

.modal-custom-pad-md {
    padding: 0.5cm;
}

#pagination-item.active {
    text-decoration: underline;
}

.custom-date-blue {
    padding-top:0.3cm;
    color: blue;
    font-weight:bold;
}

.custom-date-green {
    padding-top:0.3cm;
    color: green;
    font-weight:bold;
}

.custom-weekend {
    color: red;
}

.custom-workdays {
    color: blue;
}

.custom-date-sat {
    padding-top:0.3cm;
    color: red;
    font-weight:bold;
    background-color: #ffe0b3;
}

.custom-date-sun {
    padding-top:0.3cm;
    color: red;
    font-weight:bold;
    background-color: #ffb3b3;
}

#disclaimer-footer {
    text-align: right;
}

.required-label-red {
    color: red;
}

.btn-text-custom {
    border-color: black;
    background-color: white;
    color: black;
}

.btn-add-custom {
    border-color: green;
    color: green;
}
.btn-add-custom:hover {
    color: white;
    background:green;
}
.btn-add-custom:disabled {
    border-color: green;
    color: LightGreen;
}


body {
    margin: 10px;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}



/*
 * Sidebar
 */

.sidebar_ClubManagement {
  color: #FFEFCF;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
required for modal dialog
*/

.fade.in {
    padding-top: 51px;
    opacity: .9;
}

#pagination-indicator {
    text-decoration: underline;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* fixing modal black background */

.modal-backdrop.fade {
opacity: 0;
filter: alpha(opacity=0);
}
.modal-backdrop.in {
opacity: 0.5;
filter: alpha(opacity=50);
}

.modal-backdrop.fade {
opacity: 0;
filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
opacity: 0.5;
filter: alpha(opacity=50);
}


@media screen and (min-width: 1308px) {
    .modal-dialog {
      width: 2000px; /* New width for default modal */
    }
    .modal-lg {
      width: 100%; /* New width for small modal */
    }
    .modal-sm {
      width: 100px; /* New width for small modal */
    }
}

@media screen and (min-width: 1308px) {

    .modal-xl {
      width: 2000px; /* New width for large modal */
    }

    .modal-lg {
      width: 2000px; /* New width for large modal */
    }

    .modal-md {
      width: 2000px; /* New width for large modal */
    }

    .modal-sn {
      width: 2000px; /* New width for large modal */
    }
}


/****
**
**
**   Calendar (Tabulator)
**
****/


/*Theme the Tabulator element*/
#example-table-theme{
    background-color:#ccc;
    border: 1px solid #333;
    border-radius: 10px;
}

/*Theme the header*/
#example-table-theme .tabulator-header {
    background-color:#333;
    color:#fff;
    text-align: center;
}

/*Allow column header names to wrap lines*/
#example-table-theme .tabulator-header .tabulator-col,
#example-table-theme .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color the table rows*/
#example-table-theme .tabulator-tableHolder .tabulator-table .tabulator-row{
    color:#fff;
    background-color: #666;
}

/*Color even rows*/
    #example-table-theme .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: #444;
}

/****
**
**
**   Calendar (Table with pagination)
**
****/


.table-wrapper {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/****
**
**
**   Calendar (Editable table)
**
****/


.pt-3-half {
    padding-top: inherit;
}





/**** CLubManagement ****/



/* ClubManagement-Colour */

.colour_CM_Green{
color: #74ea00;
}

.colour_CM_Blue{
color: #1E90FF;
}

/* ClubManagement-Nav */

.Navbar_ClubManagement_Item {
    display: block;
    padding: 0.5rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
}

/* ClubManagement-Button */

.btn_ClubManagement{
    color: white;
    Display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #FFAC1D;
    border: 1px solid #FFAC1D;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav_ClubManagement_styling {
    background-color: #0b0a13!important;
}

/* body background-color */

.background-color-beige {
    background-color: #FFEFCF;
}

.colour-white {
    color: white;
}

/* hover effect */

a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* hover effect signin/logout and buttos */

.hover_white:hover {
    color: white !important;
    text-decoration :none;
}

.hover_buttons:hover {
    color: white !important;
    text-decoration: none;
}
