<div ng-init="init()">
    <div class="row">
        <table class="col-md-8 table table-striped table-hover">
            <thead>
                <tr>
                    <th><h3>Customer Account</h3></th>
                </tr>
                <tr>
                    <td><h5>First Name</h5></td>
                    <td><h5>Surname</h5></td>
                </tr>
                <tr>
                    <td><p class="lead">{{initialAccount.firstName}}</p></td>
                    <td><p class="lead">{{initialAccount.surName}}</p></td>
                </tr>
                <tr>
                    <td><h5>Company/Organisation</h5></td>
                    <td><h5>Main Email</h5></td>
                </tr>
                <tr>
                    <td><p class="lead">{{initialAccount.companyName}}</p></td>
                    <td><p class="lead">{{initialAccount.mainEmail}}</p></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Miscellaneous Account Settings</th>
                </tr>
                <tr>
                    <td>Standard Rest Time</td>
                </tr>
                <tr>
                    <td><p class="lead">{{initialAccount.restTime}} hours</p></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a class="nav-link" href="#!/account_edit"><button ng-class="{ active: isActive('/account_edit')}" $location.path="#/account_edit" class="btn btn-outline-primary" ng-disabled="loading">Edit Account</button></a>
    </div>
</div>