
<div ng-init="init()">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Customer Account</h3>

            <form name="accountForm" novalidate role="form">
                <table class="col-md-8 table table-striped table-hover">
                    <thead>
                        <tr>
                            <td><h5>First Name</h5></td>
                            <td><h5>Surname</h5></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group" ng-class="{'has-warning': account.firstName != initialAccount.firstName}">
                                    <span class="label label-warning" ng-show="account.firstName != initialAccount.firstName"> Changed</span>
                                    <input id="firstName" type="text" name="firstName" ng-model="account.firstName"class="form-control"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{'has-warning': account.surName != initialAccount.surName}">
                                    <span class="label label-warning" ng-show="account.surName != initialAccount.surName"> Changed</span>
                                    <input id="surName" type="text" name="surName" ng-model="account.surName"class="form-control"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h5>Company/Organisation</h5></td>
                            <td><h5>Main Email</h5></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group" ng-class="{'has-warning': account.companyName != initialAccount.companyName}">
                                    <span class="label label-warning" ng-show="account.companyName != initialAccount.companyName"> Changed</span>
                                    <input id="companyName" type="text" name="companyName" ng-model="account.companyName"class="form-control"/>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" ng-class="{'has-warning': account.mainEmail != initialAccount.mainEmail}">
                                    <span class="label label-warning" ng-show="account.mainEmail != initialAccount.mainEmail"> Changed</span>
                                    <input id="mainEmail" type="email" name="mainEmail" ng-model="account.mainEmail"class="form-control"/>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Miscellaneous Account Settings</th>
                        </tr>
                        <tr>
                            <td>Standard Rest Time</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group" ng-class="{'has-warning': account.restTime != initialAccount.restTime}">
                                    <span class="label label-warning" ng-show="account.restTime != initialAccount.restTime"> Changed</span>
                                    <input id="restTime" type="number" name="restTime" name="restTime" onkeypress="return isNumber(event)" placeholder="0.00" step="0.1" ng-model="account.restTime"class="form-control"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                <button ng-click="saveAccount(accountForm)" class="btn btn-add-custom" ng-disabled="loading || !accountForm.mainEmail.$valid">Update account</button>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </form>
            <p><a class="nav-link" onclick="window.history.back();" href="">« Back</a></p>
        </div>
    </div>
</div>


<script type="text/javascript">
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ( (charCode > 31 && charCode < 48) || charCode > 57) {
        return false;
    }
    return true;
    }
</script>