<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubManagementApp</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron row">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagementApp</h1>

            <div class="row">
                <div class="col-lg-4">
                    <h2>Benefits for schools</h2>
                    <p>An overview for cool</p>
                </div>
                <div class="col-lg-4">
                    <h2>Benefits for teachers</h2>
                    <p>Know where your students are</p>
                </div>
                <div class="col-lg-4">
                    <h2>Benefits for students</h2>
                    <ol>
                        <li>Easy use</li>
                        <li>Low maint</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>