<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubManagementApp</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron row">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagementApp</h1>

            <div class="row">
                <div class="col-lg-4">
                    <h2>Benefits of Clubmanagment</h2>
                    <p>Good overview</p>
                    <hr>
                    <p>Organizational help</p>
                    <hr>
                    <p>means of communication in the association</p>
                    <hr>
                    <p>easy use</p>
                    <hr>
                    <p>relief for the clubs</p>
                    <hr>
                </div>


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>