<div ng-init="init()" class="container-fluid" ng-show="getSignedInState()">
    <div class="row">
        <div ng-include src="'partials/management_nav.html'"></div>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                            <span ng-bind="messages"></span>
                            <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                               ng-show="messages"></i>
                        </div>
                        <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h3>Add a Clubmember</h3>
                        <form name="clubmemberForm" novalidate role="form">
                            <div class="form-group">
                                <label for="name"> Name <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.name.$error.required">Required!</span>
                                <input id="name" type="text" name="name" ng-model="clubmember.name" class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.surname.$error.required">Required!</span>
                                <input id="surname" type="text" name="surname" ng-model="clubmember.surname" class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="birthDate">Birthdate <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.birthDate.$error.required">Required!</span>
                                <input id="birthDate" type="text" name="birthDate"  ng-model="clubmember.birthDate"class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="email">E-Mail <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.email.$error.required">Required!</span>
                                <input id="email" type="text" name="email" ng-model="clubmember.email" class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="address">Address <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.address.$error.required">Required!</span>
                                <input id="address" type="text" name="address" ng-model="clubmember.address" class="form-control" ng-required="true"/>
                            </div>

                            <!--<div class="form-group">
                                <label for="role">Role <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.role.$error.required">Required!</span>
                                <input id="role" type="text" name="role" ng-model="clubmember.role" class="form-control" ng-required="true"/>
                            </div>-->



                            <td>

                                <!--<select ng-model="createClubmember.clubmember_create"><option ng-repeat="option in team">{{option}}</option></select>-->

                                <!--<div class="form-group">
                                <select ng-model="clubmember.clubmember_create" ng-options="team for team in filteredTeams">
                                    <option ng-repeat="option in roles">{{option}}</option>
                                </select>
                                </div>-->

                            <div class="form-group">
                                <label for="team">Team</label>
                                <select id="team" ng-model="clubmember.team" ng-options="team for team in teams" required>
                                    <option value="">Wählen Sie ein Team</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="isCoach" ng-model="clubmember.isCoach" value="coach" ng-required="false"/> Coach
                                </label>
                                <label>
                                    <input type="checkbox" name="isAdmin" ng-model="clubmember.isAdmin" value="admin" ng-required="false"/> Administrator
                                </label>
                            </div>
                            <button ng-click="createClubmember(clubmemberForm)" class="btn btn-add-custom" ng-disabled="!isValidClubmember(clubmemberForm) || loading">Add</button>
                        </form>
                        <p><a class="nav-link" onclick="window.history.back();" href="">« Back</a></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript">
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ( (charCode > 31 && charCode < 48) || charCode > 57) {
        return false;
    }
    return true;
    }
</script>