<div ng-init="init()" class="container-fluid" ng-show="getSignedInState()">
    <div class="row">
        <div ng-include src="'partials/management_nav.html'"></div>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                            <span ng-bind="messages"></span>
                            <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                               ng-show="messages"></i>
                        </div>
                        <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h3>Edit Clubmember</h3>
                        <form name="clubmemberForm" novalidate role="form">
                            <div class="form-group">
                                <label for="name">Name <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.name.$error.required">Required!</span>
                                <input id="name" type="text" name="name" ng-model="clubmember.name" class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="clubmemberForm.description.$error.required">Required!</span>
                                <input id="surname" type="text" name="surname" ng-model="clubmember.surname" class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="birthDate">Birthdate <span class="required">*</span></label>
                                <input id="birthDate" type="number" name="birthDate" name="birthDate" onkeypress="return isNumber(event)" placeholder="0.00" step="0.1" ng-model="clubmember.birthDate"class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="telephoneNumber ">Telephone Number <span class="required">*</span></label>
                                <input id="telephoneNumber " type="number" name="telephoneNumber " name="telephoneNumber " onkeypress="return isNumber(event)" placeholder="0.00" step="0.1" ng-model="clubmember.telephoneNumber"class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="address ">Address <span class="required">*</span></label>
                                <input id="address " type="number" name="address " name="address " onkeypress="return isNumber(event)" placeholder="0.00" step="0.1" ng-model="clubmember.address"class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="role ">Role <span class="required">*</span></label>
                                <input id="role " type="number" name="role " name="role " onkeypress="return isNumber(event)" placeholder="0.00" step="0.1" ng-model="clubmember.role"class="form-control"/>
                            </div>
                            <button ng-click="saveClubmember(clubmemberForm)" class="btn btn-add-custom" ng-disabled="!isValidClubmember(clubmemberForm) || loading">Save</button>
                        </form>
                        <p><a class="nav-link" onclick="window.history.back();" href="">« Back</a></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>