<div ng-init="init()" class="container-fluid" ng-show="getSignedInState()">
    <div class="row" ng-include src="'partials/management_nav.html'"></div>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <div class="row">
            <div class="col-lg-12">
                <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                    <span ng-bind="messages"></span>
                    <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-show="messages"></i>
                </div>
                <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><h3>Clubmembers</h3></th>
                        <th><a class="btn btn-add-custom" href="#!/clubmembers/create" role="button">Add Clubmember &raquo;</a></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <form ng-show="clubmembers.length > 0">
                    <div class="col-lg-6">
                        <div class="input-group">
                              <span class="input-group-btn">
                                  <button type="submit" ng-click="queryClubmembersByName(search_field)" class="modal-action btn btn-secondary" type="button">Search</button>
                              </span>
                            <input id="query-input" type="text" class="form-control" placeholder="Search Clubmember Name/Surname" ng-model="search_field" autofocus>
                        </div>
                    </div>
                </form>
                <div ng-show="submitted && filteredClubmembers.length == 0">
                    <h4>No matching results.</h4>
                </div>
                <div class="table-responsive" ng-show="filteredClubmembers.length > 0">
                    <table id="clubmember-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th>surname</th>
                            <th>birthDate</th>
                            <th>telephoneNumber</th>
                            <th>address</th>
                            <th>role</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr ng-repeat="clubmember in filteredClubmembers | startFrom: pagination.currentPage * pagination.pageSize | limitTo: pagination.pageSize | orderBy:'name'">
                            <td><a href="#!/clubmembers/detail/{{clubmember.websafeClubmemberKey}}">{{clubmember.name}}</a></td>
                            <td>{{clubmember.surname}}</td>
                            <td>{{clubmember.birthDate}}</td>
                            <td>{{clubmember.telephoneNumber}}</td>
                            <td>{{clubmember.address}}</td>
                            <td>{{clubmember.role}}</td>
                            <td>
                                <button ng-click="deleteClubmemberWithWebsafeClubmemberKey(clubmember.websafeClubmemberKey)" class="btn btn-outline-danger" ng-disabled="loading" title="Delete Clubmember">&#10008;</button>
                            </td>
                        </tr>
                        </tbody>t
                    </table>
                </div>
                <ul class="pagination" ng-show="filteredClubmembers.length > 0">
                    <li ng-class="{disabled: pagination.currentPage == 0 }">
                        <a ng-class="{disabled: pagination.currentPage == 0 }"
                           ng-click="pagination.isDisabled($event) || (pagination.currentPage = 0)" href="">&lt&lt</a>&nbsp &nbsp
                    </li>
                    <li ng-class="{disabled: pagination.currentPage == 0 }">
                        <a ng-class="{disabled: pagination.currentPage == 0 }"
                           ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage - 1)" href="">&lt</a>&nbsp &nbsp
                    </li>

                    <!-- ng-repeat creates a new scope. Need to specify the pagination.currentPage as $parent.pagination.currentPage -->
                    <li ng-repeat="page in pagination.pageArray()">
                        <a ng-click="$parent.pagination.currentPage = page" id="pagination-item" ng-class="{'active': $parent.pagination.currentPage == page}" href="">{{page + 1}}</a>&nbsp &nbsp
                    </li>
                    <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
                        <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
                           ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.currentPage + 1)" href="">&gt</a>&nbsp &nbsp
                    </li>
                    <li ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}">
                        <a ng-class="{disabled: pagination.currentPage == pagination.numberOfPages() - 1}"
                           ng-click="pagination.isDisabled($event) || (pagination.currentPage = pagination.numberOfPages() - 1)" href="">&gt&gt</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>