<!-- Jumbotron -->
<div class="jumbotron background-color-beige">
    <h1>ClubManagement. Managing your club</h1>
    <p class="lead">Welcome to the Club Management Leaderboard</p>
    <h2>Check out the latest games</h2>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-12">
        <h2>Documentation</h2>
        <p>No documentation available at the moment.</p>
        <p><a class="btnDocumentation" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>

<!-- Table for club points -->
<div class="row">
    <div class="col-lg-6">
        <h2>Home</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Club</th>
                <th>Goals</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Club A</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Club B</td>
                <td>4</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h2>Away</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Club</th>
                <th>Goals</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Club B</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Club A</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
