<!--<div class="container-fluid">-->
        <!-- Jumbotron -->
    <!--<div class="jumbotron row background-color-beige">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagement</h1><br>
            <h3><p class="lead">Last/ Upcoming Match </p></h3><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Information</h2>
            <p>Information about the club</p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/whatIsClubManagement_details.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Trainings</h2>
            <p>Here you can see the training schedule</p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/howdoesitwork_details.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Benefits</h2>
            <p>Easy use, low maintenance,... </p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/benefits_details.html" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>-->



<div class="container-fluid">
    <!-- Jumbotron -->
    <div class="jumbotron row background-color-beige"  style="height: 600px;">
        <div class="col-lg-12 jumbotron-bg" style="background-image: url('img/team-reserve.png')">
            <h1>Welcome to Club Management</h1>
            <h3><p class="lead">Explore the World of Sports with Us</p></h3>
        </div>
    </div>

    <div class="col-lg-12 jumbotron-bg d-flex justify-content-center align-items-center" style="background-image: url('img/arrow-down.gif'); height: 50px; width: 100px;">
    </div>





    <!-- Main Content Section -->
    <div class="row">
        <!-- First Set -->
        <div class="col-lg-6">
            <img src="image-left-1.jpg" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div>
                <h2>Discover More About Our Club</h2>
                <p>At Club Management, we're dedicated to providing exceptional sports experiences for our community. Explore the variety of activities we offer, from intensive training sessions to thrilling matches. Join us in the pursuit of fitness and camaraderie!</p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary hover_buttons" href="/partials/whatIsClubManagement_details.html" role="button">Details</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Set -->
    <div class="row">
        <div class="col-lg-6 order-lg-2">
            <img src="image-left-2.jpg" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1">
            <div>
                <h2>Join Our Training Programs</h2>
                <p>Embark on a journey of self-improvement with our diverse training programs. Whether you're a beginner or an advanced athlete, our training sessions cater to all skill levels. Experience the thrill of progress and achievement with Club Management!</p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary hover_buttons" href="/partials/howdoesitwork_details.html" role="button">Trainings</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Set -->
    <div class="row">
        <div class="col-lg-6">
            <img src="image-left-3.jpg" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div>
                <h2>Exciting Features Coming Soon!</h2>
                <p>Our team is hard at work developing new and exciting features for Club Management. Stay tuned for updates as we strive to enhance your experience. We appreciate your patience and continued support!</p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary hover_buttons" href="#" role="button">Under Construction</a>
                </div>
                <p class="mt-3">We're currently working on bringing you more exciting features. Stay tuned for updates!</p>
            </div>
        </div>
    </div>
</div>






