<div class="container-fluid">
        <!-- Jumbotron -->
    <div class="jumbotron row background-color-beige">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagement</h1><br>
            <h3><p class="lead">This is ClubManagement. A project on behalf of SZ-Ybbs. This project is currently under construction...</p></h3><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>What is ClubManagement?</h2>
            <p>ClubManagement is...</p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/whatIsQRcool_details.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>How does it work?</h2>
            <p>Scan your QRcode</p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/howdoesitwork_details.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Benefits</h2>
            <p>Easy use, low maintenance,... </p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/benefits_details.html" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>