<!--<div class="container-fluid">
        <!-- Jumbotron -->
    <!--<div class="jumbotron row background-color-beige">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagement</h1><br>
            <h3><p class="lead">Last/ Upcoming Match </p></h3><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h2>Information</h2>
            <p>Information about the club</p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/whatIsClubManagement_details.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Trainings</h2>
            <p>Here you can see the training schedule</p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/howdoesitwork_details.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Benefits</h2>
            <p>Easy use, low maintenance,... </p>
            <p><a class="btn_ClubManagement hover_buttons" href="/partials/benefits_details.html" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>-->



<div class="container-fluid">
    <!-- Jumbotron -->
    <div class="jumbotron row background-color-beige">
        <div class="col-lg-12">
            <h1>Club Management</h1>
            <h3><p class="lead">Explore the World of Sports</p></h3>
        </div>
    </div>

    <!-- Main Content Section -->
    <div class="row">
        <!-- First Set -->
        <div class="col-lg-6">
            <img src="image-left-1.jpg" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div>
                <h2>Welcome to Our Club</h2>
                <p>At Club Management, we're passionate about sports and community. Our club offers a range of activities, from intense training sessions to exciting matches. Join us in the journey towards fitness and camaraderie! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum enim non ligula vehicula, non volutpat sapien mollis. Curabitur dapibus fringilla augue, non vulputate metus. Aliquam tincidunt vel enim eget gravida. Vivamus malesuada risus sed neque aliquet, eget hendrerit mauris tincidunt. Nam fermentum varius nisl, a ultricies ipsum convallis at. Proin sed dolor et sem vestibulum vestibulum a eget mi. Nulla facilisi. Praesent elementum, risus eu convallis condimentum, nulla nisi pretium est, sed auctor felis turpis ut ligula. Nullam eget augue in orci venenatis ultricies. Nam ultrices diam id dolor fringilla, id condimentum dui interdum. Vestibulum eget augue nec dolor varius faucibus. Duis et purus nec nisi fermentum mattis non eu elit.</p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary hover_buttons" href="/partials/whatIsClubManagement_details.html" role="button">Learn More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Set -->
    <div class="row">
        <div class="col-lg-6 order-lg-2">
            <img src="image-left-2.jpg" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-lg-6 order-lg-1">
            <div>
                <h2>Welcome to Our Club</h2>
                <p>At Club Management, we're passionate about sports and community. Our club offers a range of activities, from intense training sessions to exciting matches. Join us in the journey towards fitness and camaraderie! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum enim non ligula vehicula, non volutpat sapien mollis. Curabitur dapibus fringilla augue, non vulputate metus. Aliquam tincidunt vel enim eget gravida. Vivamus malesuada risus sed neque aliquet, eget hendrerit mauris tincidunt. Nam fermentum varius nisl, a ultricies ipsum convallis at. Proin sed dolor et sem vestibulum vestibulum a eget mi. Nulla facilisi. Praesent elementum, risus eu convallis condimentum, nulla nisi pretium est, sed auctor felis turpis ut ligula. Nullam eget augue in orci venenatis ultricies. Nam ultrices diam id dolor fringilla, id condimentum dui interdum. Vestibulum eget augue nec dolor varius faucibus. Duis et purus nec nisi fermentum mattis non eu elit.</p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary hover_buttons" href="/partials/howdoesitwork_details.html" role="button">Get Started</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Set -->
    <div class="row">
        <div class="col-lg-6">
            <img src="image-left-3.jpg" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <div>
                <h2>Welcome to Our Club</h2>
                <p>At Club Management, we're passionate about sports and community. Our club offers a range of activities, from intense training sessions to exciting matches. Join us in the journey towards fitness and camaraderie! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum enim non ligula vehicula, non volutpat sapien mollis. Curabitur dapibus fringilla augue, non vulputate metus. Aliquam tincidunt vel enim eget gravida. Vivamus malesuada risus sed neque aliquet, eget hendrerit mauris tincidunt. Nam fermentum varius nisl, a ultricies ipsum convallis at. Proin sed dolor et sem vestibulum vestibulum a eget mi. Nulla facilisi. Praesent elementum, risus eu convallis condimentum, nulla nisi pretium est, sed auctor felis turpis ut ligula. Nullam eget augue in orci venenatis ultricies. Nam ultrices diam id dolor fringilla, id condimentum dui interdum. Vestibulum eget augue nec dolor varius faucibus. Duis et purus nec nisi fermentum mattis non eu elit.</p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary hover_buttons" href="/partials/benefits_details.html" role="button">Join Us Today</a>
                </div>
            </div>
        </div>
    </div>
</div>





