<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ClubManagementApp</title>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron row">
    <div class="col-lg-12 col-lg-12">
      <h1>ClubManagementApp</h1>

      <div class="row">
        <div class="col-lg-4">
          <h2>Trainings</h2>
          <p>U10: Mo,Mi 17-18 Uhr</p>
          <hr>
          <p>U11: Di,Do 17-18 Uhr</p>
          <hr>
          <p>U12: Di,Do 18-19 Uhr</p>
          <hr>
          <p>U13: Mo,Mi 18-19 Uhr</p>
          <hr>
          <p>U14: Mo,Mi 17-18 Uhr</p>
          <hr>
          <p>U15: Mo,Mi 17-18 Uhr</p>
          <hr>
          <p>U16: Mo,Mi 17-18 Uhr</p>
          <hr>
          <p>Res: Mo,Mi 17-18 Uhr</p>
          <hr>
          <p>KM: Mo,Mi 17-18 Uhr</p>
          <hr>

        </div>


      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>