<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ClubManagementApp</title>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron row">
    <div class="col-lg-12 col-lg-12">
      <h1>ClubManagementApp</h1>

      <div class="row">
        <div class="col-lg-4">
          <h2>How Does it Work?</h2>
          <p>Club Management lists all the members of the club. Every member has his own personal information
            and his own id. A crucial function is the management of the tournaments which need to be funded by
            the membership fees and the sponsors.
            Various functions like a ranking system will be implemented in the list as well as the trainers.
          </p>
          <img src="MicrosoftTeams-image.png">
        </div>


      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>