<div class="container-fluid">
<div class="row">
    <!-- Jumbotron -->
    <div class="jumbotron row">
        <h6><font color="red">Under construction! This service is not yet ready for prime time. Feel welcome to stay tuned!</font></h6>
        <h1>Impressum & Privacy Statement</h1>
    </div>
    <!-- Example row of columns -->

            <div>
                <h2>Impressum</h2>
                <p>
                    <img src="img/Impressum.png" width="33%" height="33%" alt="Impressum">
                </p>
            </div>
            <div>
                <h2>Disclaimer</h2>
                <p>
                    This site may contain links to external websites beyond our control. Hence it is not possible to take any responsibility for external content. At the time of creating this website no illegal or inappropriate content has been detected on linked external sites. However, permanent monitoring is impossible; in case illegal/inappropriate content is detected or brought to our attention links to such content will be removed right away.
                    Usage of contact data as provided above prohibited. Using these data for unwanted advertising or postage of information material prohibited. Misuse of provided data may and will cause legal action.
                </p>
                <p>
                    Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
                </p>
            </div>
            <div>
                <h2>Privacy - GDPR - DSGVO</h2>
                <p>
                    Visitors of our website can use and inform themselves about our service without providing any data whatsoever.
                    Usage of our service, however, requires customers to identify themselves to be able to link customers to their respective data as well as for billing purposes.
                    For secure customer authentication OAuth2 secure identification services provided by third party providers are used.<br>
                    At this point, the following OAuth 2 providers are used:

                    <ul>
                        <li>
                            <a href="google.com">Google.com</a> (On privacy policies, see: <a href=https://policies.google.com/privacy>Google Privacy Settings</a>)
                        </li>
                    </ul>
                    Apart fom secure authentication, we ask clients for data required for billing only. For now, this service is not yet in operation, therefore no information can be given on what data ultimately will be collected. Therefore, at present no data is required or collected in order to log in and check out the application.
                </p>
                <p>
                <b>Service Platform</b>
                    In order to provide our services to customers Google App Engine (Region: europe-west3) is used. Also see <a href="https://cloud.google.com/security/gdpr/">Google GDPR / DSGVO Policies</a>
                </p>
                <p>
                    <b>No User Tracking, No User Data Sharing/Transfer</b>
                    <br>
                    We do not share, sell or otherwise transfer user or customer data with third party, except for legal requirements (e.g. billing data with tax office)
                    <br>
                    We do not participate in user or customer tracking activies of any sort. Note, however, that OAuth2 providers as stated above may involve user tracking.
                </p>
                <p>
                    <b>Newsletters, Emails</b>
                    <br>
                    We do not at this point send newsletters or emails for the purpose of advertising.
                    However, customers may choose to be notified by email once a requested duty schedule is available; however, these emails will only be sent if specifically requested by a customer.
                </p>
            </div>
        </div>
    </div>
</div>