<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubManagementApp</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron row">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagementApp</h1>

            <div class="row">
                <div class="col-lg-4">
                    <h2>Information</h2>
                    <p>Information about the club</p>
                                    </div>



            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>