<div ng-init="init()" class="container-fluid" ng-show="getSignedInState()">
    <div class="row">
        <div ng-include src="'partials/management_nav.html'"></div>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                            <span ng-bind="messages"></span>
                            <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                               ng-show="messages"></i>
                        </div>
                        <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h3>Edit Match</h3>
                        <form name="matchForm" novalidate role="form">
                            <div class="form-group">
                                <label for="matchDate">MatchDate <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="matchForm.matchDate.$error.required">Required!</span>
                                <input id="matchDate" type="text" name="matchDate" ng-model="match.matchDate" class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="matchTime">MatchTime <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="matchForm.matchTime.$error.required">Required!</span>
                                <input id="matchTime" type="text" name="matchTime" ng-model="match.matchTime" class="form-control" ng-required="true"/>
                            </div>


                            <div class="form-group">
                                <label for="team">Team</label>
                                <select id="team" ng-model="matches.team" ng-options="team for team in matches" required>
                                    <option value="">Wählen Sie ein Team</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="guest">Guest <span class="required">*</span></label>
                                <input id="guest" type="text" name="guest" ng-model="match.guest"class="form-control" ng-required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="homeGoals">HomeGoals <span class="required">*</span></label>
                                <input id="homeGoals" type="number" name="homeGoals" name="homeGoals" onkeypress="return isNumber(event)" placeholder="0" step="1" ng-model="match.homeGoals"class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="guestGoals">GuestGoals <span class="required">*</span></label>
                                <input id="guestGoals" type="number" name="guestGoals" name="guestGoals" onkeypress="return isNumber(event)" placeholder="0" step="1" ng-model="match.guestGoals"class="form-control"/>
                            </div>
                            <button ng-click="saveMatch(matchForm)" class="btn btn-add-custom" ng-disabled="!isValidMatch(matchForm) || loading">Save</button>
                        </form>
                        <p><a class="nav-link" onclick="window.history.back();" href="">« Back</a></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>