<!-- Jumbotron -->
<div class="jumbotron background-color-beige">
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <style>
        .team-box {
            border: 1px solid #000;
            padding: 10px;
            margin: 10px;
            width: 200px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="team-box">
    <h3>U12 Team</h3>
    <p>Details zur U12</p>
</div>
<div class="team-box">
    <h3>U13 Team</h3>
    <p>Details zur U13</p>
</div>
<div class="team-box">
    <h3>U15 Team</h3>
    <p>Details zur U15</p>
</div>

<div class="team-box">
    <h3>U16 Team</h3>
    <p>Details zur U16</p>
</div>


<div class="team-box">
    <h3>Reserve</h3>
    <p>Details zur Reserve</p>
</div>

<div class="team-box">
    <h3>Kampfmannschaft</h3>
    <p>Details zur Kampfmannschaft</p>
</div>
</body>
</html>
