<div class="container-fluid" ng-show="getSignedInState()">
    <div class="row">
        <div ng-include src="'partials/management_nav.html'"></div>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                            <span ng-bind="messages"></span>
                            <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                               ng-show="messages"></i>
                        </div>
                        <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <h3>Add a Team</h3>
                        <form name="teamForm" novalidate role="form">
                            <div class="form-group">
                                <label for="name">Team name <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="teamForm.name.$error.required">Required!</span>
                                <input id="name" type="text" name="name" ng-model="team.name" class="form-control" ng-required="true"/>
                            </div>
                            <!--<div class="form-group">
                                <label for="clubmember">Clubmember <span class="required">*</span></label>
                                <span class="required-label-red label label-danger" ng-show="teamForm.away.$error.required">Required!</span>
                                <input id="clubmember" type="select" name="clubmember" ng-model="team.clubmember" class="form-control" ng-required="true"/>
                            </div>-->
                            <!--<select id="clubmember" name="clubmember" ng-model="clubmember" class="form-control">
                                <option value="">Select a Clubmember</option>
                                <option value="">{{clubmember.name}}</option>
                            </select>-->

                            <div class="form-group">
                                <label for="name">Clubmember<span class="required">*</span></label>
                                <td><select id="clubmember" name="clubmember" ng-model="team.clubmember">
                                    <option ng-repeat="option in clubmemberList" ng-value="option">{{option}}</option>
                                </select></td>
                            </div>

                            <button ng-click="createTeam(teamForm)" class="btn btn-add-custom" ng-disabled="!isValidTeam(teamForm) || loading">Add</button>
                        </form>
                        <p><a class="nav-link" onclick="window.history.back();" href="">« Back</a></p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript">
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if ( (charCode > 31 && charCode < 48) || charCode > 57) {
        return false;
    }
    return true;
    }
</script>