<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubManagementApp</title>
</head>
<body>
<div class="container-fluid">
    <div class="jumbotron row">
        <div class="col-lg-12 col-lg-12">
            <h1>ClubManagementApp</h1>

            <div class="row">
                <div class="col-lg-4">
                    <h2>What is Clubmanagment?</h2>
                    <p>Club management is a list of clubs that will make it easier for
                        clubs to provide support for the administration</p>
                    <img src="MicrosoftTeams-image.png">
                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>