<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:title" content="Project Headline">
        <meta property="og:type" content="website">
        <meta property="og:description" content="Whatever your project does">
        <link rel="manifest" href="/manifest.json">

        <title>Project Title</title>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="css/style.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>

        <!--    Web-Client ID: 245448757721-vv3901m75sukgnqqh39mhutjm5fqnhnt.apps.googleusercontent.com  -->

        <script src="https://accounts.google.com/gsi/client" async defer></script>

        <script src="https://apis.google.com/js/api.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/api:client.js?onLoad=onGoogleScriptLoaded"></script>

        <script type="text/javascript">
        window.onGoogleScriptLoad = () => {
            console.log('The google script has really loaded, cool!');
        }
        </script>

        <script type="text/javascript">
            function init() {
                angular.bootstrap(document, ['QRcoolApp']);
                console.log(typeof(gapi));
                gapi.client.init({
                    'apiKey': 'AIzaSyC-NVNwgoSgf-pn5q0iufozSF1TDyhYlto',
                    'clientId': '245448757721-vv3901m75sukgnqqh39mhutjm5fqnhnt.apps.googleusercontent.com',
                    'scope': 'profile'
                })
            }
        </script>

    <!-- Restore the credential from cookie if stored by calling initClient() -->
    <body ng-controller="RootCtrl" ng-init="initSignInButton()">

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-9 col-md-8 col-lg-10 col-xl-12">

                    <header class="masthead">
                        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                            <nav class="navbar-brand">QRcool</nav>
                            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                                <ul class="navbar-nav text-md-center nav-justified w-100">
                                    <<li class="nav-item" ng-class="{ active: isActive('/departments') }" ng-show="getSignedInState()" ng-click="collapseNavbar()"><a class="nav-link" ng-href="{{getActiveURL()}}">Main Functionality</a></li>
                                    <li class="nav-item" ng-class="{ active: isActive('/documentation')}" ng-click="collapseNavbar()"><a class="nav-link" href="#!/documentation">Documentation</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Wiki</a>
                                    </li>
                                    <li class="nav-item" ng-class="{ active: isActive('/account')}" ng-show="getSignedInState()" ng-click="collapseNavbar()"><a class="nav-link" href="#!/account">Account</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#!/impressum">Impressum & Privacy</a>
                                    </li>
                                </ul>
                                <a class="nav-link" id="signOutLink"  ng-show="getSignedInState()" ng-click="signOut(); collapseNavbar()" href="#!/home.html">Logout</a>
                                <a class="nav-link" id="signInButton" ng-hide="getSignedInState()" ng-click="signIn();  collapseNavbar()"></a>

                            </div>
                        </nav>
                        <main role="main">
                            <ng-view></ng-view>
                        </main>
                    </header>
                </div>
            </div>
        </div>

        <!-- Site footer -->
        <footer id="disclaimer-footer" class="footer">
            <p>&copy; The Project Team 2023-2023</p>
        </footer>

    </div> <!-- /container -->
    </body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">

    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/department.js"></script>
    </body>
    <script>init(); start();</script>
</html>
